/* Pop Up Box */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set the z-index high enough to make the modal stay above everything else */
}

.popup {
  position: relative;
  width: 300px; /* Adjust the width of the pop-up image as per your requirement */
  height: 300px; /* Adjust the height of the pop-up image as per your requirement */
  cursor: pointer;
  z-index: 10000; /* Set the z-index higher than the modal-bg to make the pop-up visible */
  pointer-events: auto; /* Re-enable pointer events on the pop-up */
}

.popup img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio while filling the entire container */
}

/* Curtain Opening Effect */
.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Ensure the curtain is positioned relative to the parent */
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__panel {
  background: darkslateblue;
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 2;
  transition: all 1s ease-out;
}

.curtain__panel--left {
  transform: translateX(-100%);
}

.curtain__panel--right {
  transform: translateX(100%);
}

.curtain__prize {
  background: #333;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

img {
  width: 55vw;
  height: 55vh;
}

/* Curtain content */
.curtain__content-left,
.curtain__content-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: mintcream;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 3; /* Add a higher z-index to make the text appear above the curtains */
}

.curtain__content-left {
  left: 250px;
}

.curtain__content-right {
  right: 250px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9998; /* Set the z-index lower than the pop-up to allow interaction with the pop-up */
  pointer-events: none; /* Allow click events to pass through the overlay */
}

.overlay.hidden {
  display: none;
}
