/* Pop Up Box */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set the z-index high enough to make the modal stay above everything else */
}

.popup {
  position: relative;
  width: 300px; /* Adjust the width of the pop-up image as per your requirement */
  height: 300px; /* Adjust the height of the pop-up image as per your requirement */
  cursor: pointer;
  z-index: 10000; /* Set the z-index higher than the modal-bg to make the pop-up visible */
  pointer-events: auto; /* Re-enable pointer events on the pop-up */
}

.popup img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio while filling the entire container */
}

/* Curtain Opening Effect */
.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Ensure the curtain is positioned relative to the parent */
  z-index: 2;
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.curtain__panel {
  background: darkslateblue;
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 2;
  transition: all 1s ease-out;
}

.curtain__panel--left {
  transform: translateX(-100%);
}

.curtain__panel--right {
  transform: translateX(100%);
}

.curtain__prize {
  background: #333;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}

img {
  width: 55vw;
  height: 55vh;
}

/* Curtain content */
.curtain__content-left,
.curtain__content-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: mintcream;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 3; /* Add a higher z-index to make the text appear above the curtains */
}

.curtain__content-left {
  left: 250px;
}

.curtain__content-right {
  right: 250px;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Add color to the overlay */
  pointer-events: auto; /* Enable pointer events on the overlay to block interactions */
  z-index: 4; /* Set a z-index higher than the curtain panels */
}

.overlay.hidden {
  display: none;
}

/* Change cursor style for curtain panels after fully opened */
.curtain__panel {
  cursor: pointer;
}

.curtain__panel.no-pointer {
  cursor: default;
}

/* Gift Box */
html, body, .container {
  height: 100%;
}

body {
  background: darkslateblue;
  overflow: hidden;
}

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px;
  z-index: 1;
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  z-index: 1;
}
.giftbox > div {
  background: #34495e;
  position: absolute;
}
.giftbox > div:after, .giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #fff;
  width: 100%;
  content: "Click Me!";
  left: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 1;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before, .giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #fdc56d;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.icons {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
.icons .row {
  width: 100%;
  text-align: center;
}
.icons .row span {
  color: #fff;
  text-shadow: 5px 5px 0 #ca3121;
  font-size: 84px;
  display: inline-block;
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.7s;
}

.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 0.1s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after,
.step-4 .giftbox:after {
  opacity: 0;
}

.step-2 .giftbox .cover {
  animation: flyUp 0.4s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 0.2s ease-in 0.05s forwards;
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.step-1 .icons .row span {
  opacity: 0;
}

.step-1 .icons .row span:first-child {
  transform: translateY(700%) translateX(600%);
}

.step-1 .icons .row span:nth-child(2) {
  transform: translateY(700%) translateX(500%);
}

.step-1 .icons .row span:nth-child(3) {
  transform: translateY(700%) translateX(400%);
}

.step-1 .icons .row span:nth-child(4) {
  transform: translateY(700%) translateX(300%);
}

.step-1 .icons .row span:nth-child(5) {
  transform: translateY(700%) translateX(200%);
}

.step-1 .icons .row span:nth-child(6) {
  transform: translateY(700%) translateX(100%);
}

.step-1 .icons .row span:nth-child(7) {
  transform: translateY(700%) translateX(0);
}

.step-1 .icons .row span:nth-child(8) {
  transform: translateY(700%) translateX(-100%);
}

.step-1 .icons .row span:nth-child(9) {
  transform: translateY(700%) translateX(-200%);
}

.step-1 .icons .row span:nth-child(10) {
  transform: translateY(700%) translateX(-300%);
}

.step-1 .icons .row span:nth-child(11) {
  transform: translateY(700%) translateX(-400%);
}

.step-1 .icons .row span:nth-child(12) {
  transform: translateY(700%) translateX(-500%);
}

.step-1 .icons .row span:nth-child(13) {
  transform: translateY(700%) translateX(-600%);
}

.step-2 .icons .row span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.step-2 .icons .row span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.step-2 .icons .row span:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.step-2 .icons .row span:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.step-2 .icons .row span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.step-2 .icons .row span:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.step-2 .icons .row span:nth-child(8) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.step-2 .icons .row span:nth-child(9) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.step-2 .icons .row span:nth-child(10) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.step-2 .icons .row span:nth-child(11) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

.step-2 .icons .row span:nth-child(12) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.step-2 .icons .row span:nth-child(13) {
  -webkit-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

.step-2 .icons span, .step-3 .icons span, .step-4 .icons span {
  opacity: 0.7;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 0.91);
}

.step-4 .icons .row span, .step-3 .icons .row span {
  animation: wobble 0.6s linear infinite forwards;
}

.step-4 .icons .row span:nth-child(even), .step-3 .icons .row span:nth-child(even) {
  animation-duration: 0.7s;
}
